.auth-form {
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input{
    width:100%;
    display: block;
}   

.form-control, .form-control label{
    margin-bottom: 1rem;

}

.form-actions button{
    background: rgb(189, 86,2);
    font: inherit;
    border: 1px solid rgb(189, 86,2);
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px black;
    color: yellow;
}

.form-actions button:hover,
.form-actions button:active{
    background: yellow;
    border-color:rgb(189, 86,2);
    color: rgb(189, 86,2);
}